$playerWidth = 270px
$navHeight   = 54px

.nav
  position fixed
  width 100vw
  z-index 100
.page
  padding-top $navHeight
  width 100%
  background #f7f7f9
.content
  width 'calc(100% - %s + 50px)' % $playerWidth
.player
  width $playerWidth
  height 'calc(100vh - %s)' % $navHeight
  position fixed
  top $navHeight
  right 0
