@import './tada.styl'

$sizeInactive = 40%
$sizeNormal   = 70%
$sizeActive   = 100%

.emojiBase
  position absolute
  height auto
  top 50%
  left 50%
  transform translate(-50%, -50%)
  transition all ease-in-out 1s
  filter: drop-shadow(.5px .5px 1px rgba(0, 0, 0, .5))
  &:hover
    cursor pointer
.emojiNormal
  @extend .emojiBase
  width $sizeNormal
  &.animationStarted
    tada(translate(-50%, -50%))
    animation-duration 1s
.emojiActive
  @extend .emojiBase
  width $sizeActive
  &.animationStarted
    width $sizeNormal
.emojiInactive
  @extend .emojiBase
  width $sizeInactive
  &.animationStarted
    width $sizeNormal

.wrapper
  width 100%
  height 100%
  position relative
