$size = 120px
$border = 2px
$thumbSize = $size - $border * 2
$reactionsWidth = $size / 2

body
  background #fafafa

.card
  height $size
  width calc(100% - 100px)
  background #fff
  margin 20px auto
  border solid $border rgba(0, 0, 0, .05)
  position relative
  .thumbnail
    width $thumbSize
    height $thumbSize
    display inline-block
    vertical-align top
    .playButton
      position relative
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 60%
      height 60%
      &:hover
        cursor pointer
  .content
    display inline-block
    vertical-align top
    margin 10px 20px
    width "calc(100% - %s - 40px)" % ($size + $reactionsWidth)
    h5, p
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
    .postedBy
      font-size 13px
      position absolute
      bottom 0
      span
        font-weight bold
  .reactions
    display inline-block
    width $reactionsWidth
    height $size
    position relative
    .reactionDislike, .reactionLike
      width $reactionsWidth * .6
      height $reactionsWidth * .6
      position absolute
      display block
    .reactionLike
      top 10%
    .reactionDislike
      bottom 10%
      transform rotateY(180deg)
