@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600')
$imageSize = 38px

.profilePic
  border-radius 3px
.nav
  background #47c28a
  border-radius 0
  .brand
    margin 0
    padding 0
    span, img
      display inline-block
      vertical-align bottom
    img
      margin-right 10px
    span
      font-family 'Open Sans'
      font-weight 600
      color white
  img
    height 38px
    width auto
