.card
  width calc(100% - 100px)
  background #fff
  margin 20px auto
  border solid $border rgba(0, 0, 0, .05)
  padding 10px

.thumbnail
  width 250px
  height 250px
  margin-right 20px

h5.artist, .editButton
  display inline-block

.editButton
  float right
