@import '../Page/style.styl'

$margin = 20px
$thumbSize = $playerWidth - 2 * $margin
$playButtonSize = 90px

.container
  width 100%
  height 100%
  background white
  padding 20px 0
  border-left solid 2px rgba(0, 0, 0, .05)
.thumbnail
  width $thumbSize
  height $thumbSize
  margin auto
  position relative
.title
  font-size 15px
  width $thumbSize
  margin 10px auto
  font-weight bold
  white-space nowrap
  overflow hidden
.playButton
  width $playButtonSize
  height $playButtonSize
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  &:hover
    cursor pointer
.prevIcon, .nextIcon
  $size = $playButtonSize * .8
  position absolute
  height $size
  width $size
  color white
  top 50%
  transform translateY(-50%)
  &:hover
    cursor pointer
.nextIcon
  right 0
.queue
  overflow scroll
  height 55%
  $thumbSize = 30px
  .queueItem
    border-top 2px solid rgba(0, 0, 0, .05)
    padding $thumbSize * 0.25
  .queueThumbnail
    height $thumbSize
    width $thumbSize
  p
    width calc(100% - 40px - 10px)
    overflow hidden
    white-space nowrap
    font-size 12px
    font-weight bold
    text-overflow ellipsis
    margin 0 10px
  p, .queueThumbnail
    display inline-block
    vertical-align middle
