@import '../../variables.styl'

.loadMore
  margin 20px auto
  display block !important
  transition all ease-in-out 300ms
  color $mainColor !important
  border-color $mainColor !important
  &:hover, &:focus
    background $mainColor !important
    color white !important
    outline none
